body {
    background-color: #E4E2DD;
    margin: 0;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav-bar-links a {
    font-family: Roboto, sans-serif;
    text-decoration: none;
    color: #DB4A2B;
    font-size: 20px;
    font-weight: bold;
}

.nav-bar-links {
    display: flex;
    gap: 50px;
}

.content {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    height: calc(100vh - 221px);
}

.home-intro {
    height: auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.home-intro h1 {
    font-family: Roboto, sans-serif;
    color: #DB4A2B;
}

.home-intro p {
    font-family: Roboto, sans-serif;
    font-size: x-large;
    text-align: justify;
}

.home-intro button {
    background-color: #E4E2DD;
    font-size: x-large;
    align-self: center;
    padding: 10px;
    border: 2px solid #DB4A2B;
    outline: none;
    box-shadow: none;
    transition: background-color 0.3s ease;
}

.home-intro button:hover {
    background-color: #DB4A2B;
    color: #E4E2DD;
}
